h1 {color: rgb(0, 0, 0); }
h2 {color: rgb(0, 0, 0); }
h2 {font-style: oblique; }
button {background-color: rgb(234, 143, 234);}
button {color: black;}
button {width: 58mm;}
button {height: 35mm;}
button {font-size: 10mm;}
p {font-style: oblique;}
h1 {text-align: center;}
h2 {text-align: center;}
p {text-align: center;}
button {text-align: center;}

img {
    width: 700px;
    height: 700px;
    align-items: center; justify-content: center;
}