h1 {color: plum; }
h2 {color: paleturquoise; }
h2 {font-style: oblique; }
button {background-color: black;}
button {color: whitesmoke;}
button {width: 58mm;}
button {height: 40mm;}
button {font-size: 10mm;}